<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySchedulerApplication"
        tools:targetApi="31"
        tools:ignore="ExtraText">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeScreen"
            android:exported="false"
            android:label="Home Screen" />
        <activity
            android:name=".Activities.DetailedTermView"
            android:exported="false"
            android:label="Detailed Term View"
            android:parentActivityName=".Activities.TermsList"/>
        <activity
            android:name=".Activities.DetailedCourseView"
            android:exported="false"
            android:label="Detailed Course View"
            android:parentActivityName=".Activities.CoursesList"/>
        <activity
            android:name=".Activities.DetailedAssessmentView"
            android:exported="false"
            android:label="Detailed Assessment View"
            android:parentActivityName=".Activities.AssessmentsList"/>
        <activity
            android:name=".Activities.AssessmentsList"
            android:exported="false"
            android:label="Assessments"
            android:parentActivityName=".Activities.HomeScreen"/>
        <activity
            android:name=".Activities.TermsList"
            android:exported="false"
            android:label="Terms"
            android:parentActivityName=".Activities.HomeScreen"/>
        <activity
            android:name=".Activities.CoursesList"
            android:exported="false"
            android:label="Courses"
            android:parentActivityName=".Activities.HomeScreen"/>
    </application>

</manifest>